:root {
  --fundo-1:#f5f5f5;
  --fundo-2: #fff;
  --texto: #000000;
  --subtitulo: #000000;

}

@media(prefers-color-scheme: dark){
  :root {
    --fundo-1:#111;
    --fundo-2: #000;
    --texto: #ffffff;
    --subtitulo: rgb(255, 255, 255, 2);

  
  }
}


.experiencia .subtitulo{
  color: #e0e0e0;
}

.experiencia-texto{
  font-size:1.5rem;
  line-height:1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--texto);
}
.experiencia-texto strong{
  color: var(--texto);
}

.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;/*vertical horizontal*/
  padding: 20px;
  background-color: var(--fundo-1);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;

}
.empresa::before{
  content:'';
  display:block;
  width:4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;;

}
.empresa:hover{
  border-left: 4px solid #65ed2f98;

}
.faculdade:hover{
  border-left: 4px solid #65ed2f98;

}
.botao:hover{
  background: #65ed2f98;
  color: #var(--fundo-1);
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;

}

.empresa-ano{
  position: absolute;/*tirei ela da direção*/
  top: 22px;
  left: -100px;
  text-align: right;
  width:80px;
  color: #525252;
  font-size: 0.875rem;
}
.experiencia{
  max-width: 1200px;
  padding:40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:100px;
}

.empresa titulo{
  font-size:1.125rem;
  line-height:1.1;
  font-weight: bold;

}
.empresa-texto{
  font-size:0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades{
  display:flex;/*fazer os bloquinhos*/
  flex-wrap: wrap;
  gap:10px;
  align-content: start;

}
.empresa-habilidades li{
  font-size: .875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #var(--fundo-2);
  padding: 5px 10px;

}


@media (max-width:800px){
  .experiencia{
    grid-template-columns: 1fr;
    gap:40px;
  }
  .experiencia .subtitulo{
    color: #141414;
  }
  .experiencia-texto{
    font-size: 1.25rem;
  }
  .empresa-ano{
    position:initial;
    order:1;
    width: initial;
    text-align: left;
  }
  .empresa-ano::before{
    content:"Ano: ";
  }

}
@media (max-width:400px){
  .empresa{
    grid-template-columns: 1fr;
  }
}