body{
  font-family: "Fira Sans", Arial, sans-serif;/*fonte do site*/
  margin:0px;/*tirou a margim*/
  color:#141414; /*cor padrao do site*/
  color: var(--texto);
  background: var(--fundo-1);
}
h1,h2,h3,p{
margin: 0px;
color: var(--texto);
}
a{
  color: var(--texto);

}
ul{
  margin: 0px;
  padding:0px;
  list-style: none; /*tirando as bolinha*/
}
img{
  max-width: 100%;/*o maximo dela sem estourar*/
  height: auto;
  display: block;/*não crescer infinitamente*/
}
.subtitulo{
  font-size:8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break:break-all;
  max-width:4ch/*quebrar em 4*/
}
@media (max-width:800px){
  .subtitulo{
    font-size:3rem;
    text-transform: capitalize;/*aumenta somente primeira letra*/
    max-width: initial !important;
}
}
